@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body{
  background-color: #110f0fea;
}
header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}
.img_main {
  height: 300px;
}

.ImgPrincipal {
  height: 600px;
  width: 400px;
}

.Copy {
  width: 140px;
  height: 140px;
}

.TextoTemporada {
  text-align: center;
  font-size: 45px;
  margin: 20px 0 20px 0;
  letter-spacing: 4px;
}

.TextoTemporadaLink {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FF1177;
  font-family: 'Monoton', cursive;
}

.TextoTemporadaLink:hover {
  color: #FF1177;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.Derechos {
  font-size: 28px;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px  #FF1177,
 0 0 20px  #FF1177,
 0 0 30px  #FF1177,
 0 0 40px  #FF1177,
 0 0 70px  #FF1177,
 0 0 80px  #FF1177,
 0 0 100px #FF1177,
 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #FF1177,
 0 0 10px #FF1177,
 0 0 15px #FF1177,
 0 0 20px #FF1177,
 0 0 35px #FF1177,
 0 0 40px #FF1177,
 0 0 50px #FF1177,
 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #FF1177,
 0 0 20px  #FF1177,
 0 0 30px  #FF1177,
 0 0 40px  #FF1177,
 0 0 70px  #FF1177,
 0 0 80px  #FF1177,
 0 0 100px #FF1177,
 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #FF1177,
 0 0 10px #FF1177,
 0 0 15px #FF1177,
 0 0 20px #FF1177,
 0 0 35px #FF1177,
 0 0 40px #FF1177,
 0 0 50px #FF1177,
 0 0 75px #FF1177;
  }
}

body {
  overflow-x: hidden;
}

.Body {
  overflow-x: hidden;
}

.container {
  background-color: white;
  margin-bottom: 20px;
}

.nav-link {
  text-shadow: none;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.nav-link:hover {
  color: #000000;
  background-color: #eb009c;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

#PieDePagina {
  padding-bottom: 5px;
  padding-left: 30px;
  padding-top: 10px;
  font-weight: bold;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%230cd0fe' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-color: #ffffff;
  color: black;
  width: 100%;
  height: 100%;
}

.CopyDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PreguntasFrecuentes {
  list-style: none;
}

.PreguntasFrecuentesItem {
  padding-bottom: 25px;
  font-weight: bold;
}

.Derechos {
  padding-left: 20px;
}

.Contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-control-prev {
  right: 250px;
}

.carousel-control-prev {
  right: 250px;
}

.CopyDivResponsive {
  display: none;
}

@media (max-width: 991px) {
  .MenuResponsive {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .ImgPrincipal {
    height: 400px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .Derechos {
    font-size: 15px;
  }
  .Copy {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .ContendorFinal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 662px) {
  .TextoTemporada {
    font-size: 28px;
  }
}

@media (max-width: 612px) {
  .ImgPrincipal {
    height: 350px;
    width: 90%;
    padding-top: 20px;
  }
  .Copy {
    width: 60px;
    height: 60px;
  }
  .Derechos {
    font-size: 12px;
  }
  .TextoTemporada {
    font-size: 25px;
  }
  .PreguntasFrecuentesItem {
    font-size: 12px;
    padding-bottom: 15px;
    font-weight: bold;
  }
  .ContendorFinal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
  }
  .ContendorFinal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .CopyDiv {
    display: none;
  }
  .Derechos {
    display: none;
  }
  .CopyDivResponsive {
    display: block;
  }
  .fa-copyright {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

@media (max-width: 480px) {
  .TextoTemporada {
    font-size: 18px;
  }
  .ContendorFinal {
    display: inline-block;
  }
  .carousel-control-prev {
    margin-left: 25px;
  }
  .carousel-control-next {
    margin-right: 25px;
  }
}

@-webkit-keyframes Movi {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
}

@keyframes Movi {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
}